* {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

:root {
  --black: #0D0208;
  --green-1: #003B00;
  --green-2: #008F11;
  --green-3: #00FF41;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--green-1);
}

::-webkit-scrollbar-thumb {
  background: var(--green-3);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green-2);
}

*::selection {
  background-color: var(--green-3);
  color: var(--black);
}